@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.bg-image-home {
  background-image: url("../../static/bg.svg");
  background-size: cover;
  background-position: bottom;
}

.bg-image-home-portfolio {
  background-image: url("../../static/bg-portfolio.svg");
  background-size: cover;
  background-position: top;
}

.bg-image-home-references {
  background-image: url("../../static/bg-references.svg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.bg-image-home-footer {
  background-image: url("../../static/bg-footer.svg");
  background-size: cover;
  background-position: center;
}

.bg-image-sub {
  background-image: url("../../static/bg-subpages.svg");
  background-size: cover;
  background-position: center;
}

.bg-image-about-ada {
  background-image: url("../../static/about-ada-bg.svg");
  background-size: cover;
  background-position: center;
}

.bg-image-about-dawid {
  background-image: url("../../static/about-dawid-bg.svg");
  background-size: cover;
  background-position: center;
}

.styled-blogpost-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.styled-blogpost-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.styled-blogpost-content h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.styled-blogpost-content h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.styled-blogpost-content p {
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.styled-blogpost-content {
  font-size: 0.85rem;
  font-weight: 500;
}

.styled-blogpost-content img {
  margin: 4rem 0;
}
