@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-home {
  background-image: url("../../static/bg.svg");
  background-size: cover;
  background-position: bottom;
}

.bg-image-home-portfolio {
  background-image: url("../../static/bg-portfolio.svg");
  background-size: cover;
  background-position: top;
}

.bg-image-home-references {
  background-image: url("../../static/bg-references.svg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

.bg-image-about-ada {
  background-image: url("../../static/about-ada-bg.svg");
  background-size: cover;
  background-position: center;
}

.bg-image-about-dawid {
  background-image: url("../../static/about-dawid-bg.svg");
  background-size: cover;
  background-position: center;
}
